@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
  color: #c3bfbf;
  font-family: 'Lato', sans-serif;
}

section, footer {
  padding: 10px;
}

img {
  width: 100%;
}

p {
  color: #a19d9d;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #fff;
}

li {
}

body {
  background: #18191b;
}

header {
  background-color: #18191b;
  text-align: center;
  width: 100%;
}

header div {
  padding: 0 10px;
}

main {
  margin: 0 auto;
  background: #000;
}

section {
  /*border: 4px solid #af5203;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #312f3a;
  height: 50px;
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
}

/*     CLASSES
////////////////////*/

.template {
  display: none;
}
/*.site-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}*/
.title-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-logo img {
  max-width: 100px;
}

.center-logo {
  background-image: url('../images/text100pxwhite.png');
  background-repeat: no-repeat;
  width: 80px;
  height: 100px;
}

.main-nav {
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-class {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.nav-class a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.nav-class a:hover {
  border-bottom: 2px solid rgb(218,112,57);
  padding-bottom: 18px;
  color: #fff;
  font-weight: 700;
}

.left-nav, .right-nav {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.right-nav:hover {
  background-color: #2d2c2c;
}*/

.image-container {
  height: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.tileBody {
  padding: 7px 15px 0px 15px;
  line-height: 20px;
  height: 95px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.tileBody a {
  text-decoration: none;
}


.box {
  margin: 20px 10px;
  width: 300px;
  height: 260px;
  background-color: #312f3a;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #77797a;
}

.box a {
  font-weight: 300;
  color: #fff;
}

.box img {
  border-radius: 4px 4px 0 0;
}

.box img {
  height: 150px;
  object-fit: cover;
}

.time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.9em;
  font-weight: 300;
}

.time-left {
  flex-direction: column;
  align-items: flex-end;
}

.fa-circle {
  color: #fff;
}

.fa-circle, .fa-circle-o {
  font-size: 1.2em;
}

.fa-arrow-up {
  display: none;
  font-size: 60px;
  color: #000;
  background-color: #6d7174;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #2a2929;
  -moz-box-shadow: 5px 5px 5px #2a2929;
  box-shadow: 5px 5px 5px #2a2929;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*     MEDIA QUERIES
////////////////////////*/

@media screen and (max-width: 640px) {
  .box {
    width: 350px;
    margin: 20px 20px;
    transition: .8s;
    height: 290px;
  }
  .box a {
    line-height: 22px;
    font-size: 1.2em;
    font-weight: 400;
  }
  .time {
    font-size: 1em;
  }
  .box img {
    height: 170px;
    object-fit: cover;
  }
  li {
    padding-right: 0;
  }
  .nav-class a {
    padding: 15px 14px;
  }

  .fa-arrow-up {
    display: inline;
  }

  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }
  #back-to-top:hover {
    background: transparent;
  }
  #back-to-top.show {
    opacity: 1;
  }
}
