@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  color: #636060;
  font-family: 'Lato', sans-serif;
}

section, footer {
  padding: 10px;
}

img {
  width: 100%;
}

p {
  color: #a19d9d;
  padding: 5px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #000;
  font-weight: 700;
}

li {
  padding-right: 10px
}

body {
  background: #f4f4f4;
}

header {
  background-color: #f4f4f4;
  text-align: center;
  padding: 5px;
  /*position: fixed;*/
  width: 100%;
}

header div {
  padding: 0 10px;
}

main {
  /*max-width: 1300px;*/
  margin: 0 auto;
  /*padding-top: 128px;*/
}

section {
  /*border: 4px solid #af5203;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #312f3a;
  height: 50px;
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
}

/*     CLASSES
////////////////////*/

.template {
  display: none;
}

.title-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shadowed {
    -webkit-filter: drop-shadow(5px 5px 8px rgba(0,0,0,0.7));
    /*filter: url(#drop-shadow);*/
    -ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444');
    filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444');
}

.title-logo img {
  max-width: 100px;
  /*-webkit-box-shadow: 5px 5px 5px gray;
  -moz-box-shadow: 5px 5px 5px gray;
  box-shadow: 8px 8px 8px gray;*/
}

.fa {
  display: none;
}

.main-nav {
  /*max-width: 1300px;*/
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-class {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*padding-bottom: 8px;
  position: sticky;*/
}
.nav-class a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.nav-class a:hover {
  border-bottom: 2px solid rgb(218,112,57);
  padding-bottom: 18px;
}

.image-container {
  height: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  /*padding-top: 60px;*/
}

.tileBody {
  padding: 8px 15px 15px 15px;
  line-height: 20px;
}

.tileBody a {
  text-decoration: none;
}

.tileBody a:hover {
  /*text-decoration: underline;*/
}

.tileBody:hover {
  color: #000;
}

.box {
  margin: 20px 10px;
  width: 300px;
  height: 260px;
  background-color: #fff;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 5px;
  /*border: 1px solid #77797a;*/
  -webkit-box-shadow: 5px 5px 5px gray;
  -moz-box-shadow: 5px 5px 5px gray;
  box-shadow: 8px 8px 8px gray;
}

.box a {
  font-weight: 300;
  color: #000;
}

.box img {
  border-radius: 4px 4px 0 0;
}

.box:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(190, 86, 31, 0.75);
  -moz-box-shadow: 5px 5px 5px rgba(190, 86, 31, 0.75);
  box-shadow: 5px 5px 5px rgba(190, 86, 31, 0.75);
}

.box img {
  height: 150px;
  object-fit: cover;
}

.time {
  padding-bottom: 8px;
  text-align: right;
  font-size: 0.9em;
  font-weight: 300;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*     MEDIA QUERIES
////////////////////////*/

@media screen and (max-width: 640px) {
  .box {
    width: 350px;
    margin: 20px 20px;
    transition: .8s;
    height: 290px;
  }
  .box a {
    line-height: 22px;
    font-size: 1.3em;
    font-weight: 400;
  }
  .time {
    font-size: 1em;
  }
  .box img {
    height: 170px;
    object-fit: cover;
  }
  li {
    padding-right: 0;
  }
  .nav-class a {
    padding: 20px 8px;
  }
}
